.activevoter {
    background-color: gray;
    color: green;
}

.inactivevoter {
    color:lightcoral;
    background-color: lightgreen;
    font-size: 0.7em;
    font-family: Arial Narrow,Arial,sans-serif;
}