ion-button[color="dark"]{
    text-transform: lowercase;
}

ion-button[color="success"]{
    text-transform: lowercase;
}

ion-content{
    --background: green;
}

ion-card{
    height: 100%;
}

.tip{
    font-style:italic;
    color: lightgrey;
}