<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">search form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="searchformData" autocomplete="off">
    <ion-card>
      <img alt="OHlookup logo" src="assets/img/frog.png" />
    
      <ion-card-header>
        <ion-card-title color="success">OH voter lookup</ion-card-title>
        <ion-card-subtitle>8,000,000 voters</ion-card-subtitle>
      </ion-card-header>

      <ion-list>
        <ion-item>
          <ion-input class="tip" formControlName="firstname" label="first name" labelPlacement="floating" type="text" autocomplete="off" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="tip" formControlName="lastname" label="last name" labelPlacement="floating" type="text" autocomplete="off" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="tip" formControlName="streetaddress" label="street address" labelPlacement="floating" type="text" autocomplete="off" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="tip" formControlName="city" label="city" labelPlacement="floating" type="text" autocomplete="off" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="tip" formControlName="zip" label="zip code" labelPlacement="floating" type="text" autocomplete="off" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="tip" formControlName="birthdate" label="birthdate yyyy-mm-dd" labelPlacement="floating" type="text" autocomplete="off" clearInput></ion-input>
        </ion-item>

      </ion-list>

      <ion-button type="submit" color="success" size="full" (click)="votersearch()">Lookup</ion-button>
      <ion-button color="success" fill="clear" (click)="clearfields()">clear all</ion-button>
    </ion-card>
  </form>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">loader</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>