<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="assets/img/frog.png" />
    
    <ion-card-header>
      <ion-card-title color="success">OH voter search</ion-card-title>
      <ion-card-subtitle>8,000,000 voters</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item class="tip" fill="outline">
        <ion-label position="floating">first name</ion-label>
        <ion-input fill="outline"></ion-input>
      </ion-item>
      <ion-item class="tip" fill="outline">
        <ion-label position="floating">last name</ion-label>
        <ion-input fill="outline"></ion-input>
      </ion-item>
      <ion-item class="tip" fill="outline">
        <ion-label position="floating">street address</ion-label>
        <ion-input fill="outline"></ion-input>
      </ion-item>
      <ion-item class="tip" fill="outline">
        <ion-label position="floating">city</ion-label>
        <ion-input fill="outline"></ion-input>
      </ion-item>
      <ion-item class="tip" fill="outline">
        <ion-label position="floating">zip</ion-label>
        <ion-input fill="outline"></ion-input>
      </ion-item>
      <ion-item class="tip" fill="outline">
        <ion-label class="tip" color="green" position="floating">birthdate yyyy-mm-dd</ion-label>
        <ion-input fill="outline"></ion-input>
      </ion-item>
      <ion-button color="success" size="full">Submit</ion-button>
      <ion-button color="success" fill="clear" >Reset</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">loader</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>