<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="OHlookup list">
          <ion-list-header>OHlookup</ion-list-header>
          <ion-note>by Joe Knapp  jmknapp&#64;gmail.com</ion-note>
          <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu> 
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>